{% extends "base.html" %}
{% block title %}Trade Stocks{% endblock %}
{% block content %}
<h1 class="mt-4">Trade Stocks</h1>
<div class="card mt-4">
    <div class="card-body">
        <h3>Search Stock</h3>
        <p>Enter the ticker for a company's stock to see the current price and buy or sell that stock!</p>
        <p>Hint: Try typing in AAPL to see Apple's company stock</p>
        <form method="POST" action="/search">
            <div class="form-group">
                <label for="symbol">Stock Symbol: </label>
                <input type="text" name="symbol" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h3>Or Get a Random Stock Recommendation</h3>
        <form method="POST" action="/trade">
            <button type="submit" name="action" value="random" class="btn btn-success">I'm feeling lucky!</button>
        </form>
    </div>
</div>
<a href="{{ url_for('index') }}" class="btn btn-secondary mt-4">Back to Portfolio</a>
{% endblock %}
